@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 23, 17, 28;
}

@font-face {
  font-family: "PostGrotesk";
  src: url("/fonts/PlusJakartaSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PostGrotesk";
  src: url("/fonts/PlusJakartaSans-Medium.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PostGrotesk";
  src: url("/fonts/PlusJakartaSans-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: auto !important;
  max-width: 2000px !important;
  background: #110d22 !important;
  color: rgb(var(--foreground-rgb)) !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
